ion-content {
    --background: linear-gradient(135deg, #6A82FB, #FC5C7D);
    animation: gradientAnimation 5s ease infinite;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  ion-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  ion-card:hover {
    transform: scale(1.02);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  }
  
  ion-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.6;
  }
  
  ion-row {
    margin-bottom: 15px;
    width: 100%;
  }
  
  app-input {
    --background: transparent;
    --border-radius: 8px;
    --padding-start: 12px;
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  app-input:focus-within {
    border: 2px solid #FC5C7D;
    box-shadow: 0 4px 12px rgba(252, 92, 125, 0.2);
  }
  
  app-button {
    width: 100%;
    --background: #6A82FB;
    --background-activated: #7C88FB;
    --background-focused: #8A95FB;
    transition: transform 0.2s, box-shadow 0.3s;
  }
  
  app-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background: #8A95FB;
  }
  
  app-button[disabled] {
    opacity: 0.5;
  }
  
  ion-button {
    font-size: 14px;
    --padding-start: 0;
  }
  